<section id="about" class="scrollto">
  <div class="wrap column-container">
    <div class="content-column">
      <h2 class="about-header">Believe in the Myth!</h2>
      <p class="about-body">
        Come and spend the weekend with the City of Lansing's first hackathon! Hosted at the luxurious Lansing Center, MythicApps will take over the charming downtown of Lansing, Michigan. We'll provide all the tools necessary for a fun, rewarding, and free weekend in the Capital City.
      </p>

      <h2 class="about-header">Build Something Legendary!</h2>
      <p class="about-body">
        Make friends that will last a lifetime and meet representatives from amazing companies. Chase the dream of building an app that changes the world and learn a brand new skill.   Pick the brains of our mentors and try out some new hardware.
        MythicApps is the place to take the seasoned veteran, or the eager beginner, to the next level.
      </p>
    </div>
    <div class="graphic-column">
      <div id="compass-container"></div>
    </div>
  </div>
</section>
