<div id="header" class="header">
  <nav id="nav">
    <ul class="nav navbar-nav">
      <li class="center-content">
        <%= image_tag "nav-seashell.svg", :class => 'nav-decoration' %>
      </li>
      <li>
        <a href="#about" class="button">about</a>
      </li>
      <li>
        <a href="#faq" class="button">faq</a>
      </li>
      <li>
        <a href="#sponsors" class="button">sponsors</a>
      </li>
      <li class="center-content">
        <%= image_tag "nav-seashell.svg", :class => 'nav-decoration' %>
      </li>
    </ul>
  </nav>
</div>
