<h1>Countdown</h1>

<h2 data-bind="text: daysRemaining"></h2>

<script>
  $(document).on('ready on load', function() {

  //    var date  = new Date(Date.new(2015, 9, 25, 12, 0, 0));
  //    var now   = new Date();
  //    var diff  = date.getTime()/1000 - now.getTime()/1000;

      var CalculateDays = function(event, today){
          this.daysRemaining = ko.computed(function(){
              return Math.floor((event-today)/(1000*60*60*24));
          });
      };
      //window.setInterval(function(){
          ko.applyBindings(new CalculateDays(new Date(2015, 9, 25, 12, 0, 0), new Date($.now())));
      //}, 1000);
      
  });

</script>
