<h1>Countdown</h1>

<div id="countdown_clock"></div>

<script>
  $(document).on('ready on load', function() {

  //    var date  = new Date(Date.new(2015, 9, 25, 12, 0, 0));
  //    var now   = new Date();
  //    var diff  = date.getTime()/1000 - now.getTime()/1000;

      var clock = $('#countdown_clock').FlipClock({
          clockFace: 'DailyCounter',
  		countdown: true,
      });
      clock.setTime(new Date(2015,9,25).getTime()/10000 - new Date().getTime()/10000);
      clock.setCountdown(true);
      clock.start(function() {
      });
  });

</script>
