<div class="applicant-count marketing-module small flex col">
	<div class="total-applications flex row grow x-align y-align">
		<%= @applications.count%>
	</div>
	<div class="info-bar flex row static x-align">
		Total Applications
	</div>
</div>