#application {
  background-color: $applicationBackground;
  color: $applicationText;
  font-family: "Muli";
  min-height: 100vh;
}

#application-form {
  max-width: 1200px;
  margin: auto;
  @media screen and (min-width: 550px){
    display: flex;
    justify-content: space-between;
  }
}

.crystals-top, .crystals-bottom {
  @media screen and (min-width: 550px){
    display: none;
  }
}
.crystals-top {
  margin-top: -1px;
}

.crystals-bottom {
  transform: scaleY(-1);
}

.mobile-application-header {
  padding-top: 1em;
  max-width: 1200px;
  margin-left: 2em;
  @media screen and (min-width: 550px){
    margin: auto;
  }
  margin-bottom: 2em;
}

.mobile-application-logo {
  display: inline-block;
  width: 9%;
  padding: 0 3%;
}

.mobile-application-header-text {
  display: inline-block;
  width: 84%;

  h1 {
    text-transform: uppercase;
    font-size: 3em;
    padding-bottom: .05em;
    border-bottom: .2em solid $applicationText;
  }

  h2 {
    font-size: 1.5em;
    padding-top: .5em;
  }
}

.application-column {
  margin: 2em;

  @media screen and (min-width: 550px){
    width: 45%;
  }
}

.section-label {
  text-transform: uppercase;
  color: $applicationSectionHeader;
  font-size: 1em;
  padding: .75em 0;
}

label {
  font-size: 1.5em;
}

label, .checkbox-container {
  margin: .5em 0;
}

.full-line-label {
  display: block;
  text-transform: uppercase;
}

div.awesomplete {
  width: 100%;
}

#optional_travel_container {
    display: none;
}

input[type="text"], input[type="email"] {
  font-family: "Muli";
  background: none;
  border: none;

  font-size: 1.5em;

  color: $applicationsInputText;

  padding-left: 1em;

  border-bottom: .14em solid $applicationText;
  width: 100%;
}

::-webkit-input-placeholder {
   color: $applicationPlaceholderText;
   font-family: "Muli";
}

:-moz-placeholder { /* Firefox 18- */
   color: $applicationPlaceholderText;
   font-family: "Muli";
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $applicationPlaceholderText;
   font-family: "Muli";
}

:-ms-input-placeholder {
   color: $applicationPlaceholderText;
   font-family: "Muli";
}

#application_free_response {
  display: block;
  width: 100%;
  height: 10em;
  margin: 1em 0;
  background-color: $applicationFreeResponseBackground;
  border: none;
}

.optional-portfolios {
  @media screen and (min-width: 550px){
    display: flex;
    justify-content: space-between;
    width: 100%;

    div {
      width: 45%;
    }
  }
}

/* Change text: "Upload your resume" and "SAVE" on the two buttons */
/* Don't forget to change the icon to the actual SVG you're using.  That Wikipedia one is ugly. */

button.filepicker {
  height: 3em;
  line-height: 3em;
  width: 12.5em;
  padding-right: 2em;
  border: 0;
  border-bottom: 5px solid #66A8C2;
  color: #ffdb6d;
  background-color: #498DA7;
  font-size: 1.5em;
  font-family: muli;

  background-image: image-url("resume-upload-icon.svg"); /* Put your icon here */
  background-position: 10.3em center;
  background-size: 2em;
  background-repeat: no-repeat;

  cursor: pointer;

  transition: 0.5s ease;
}

button.filepicker:hover {
	color: #498DA7;
	background-color: #ffdb6d;
	border-bottom: 5px solid #ccae58;
}

.save-application {
  float: right;
  height: 2em;
  line-height: 2em;
  width: 6em;
  padding-right: .75em;

  font-family: "Muli";
  font-size: 1.5em;
  font-weight: bold;

  color: #ffdb6d;
  background-color: transparent;
  border: 0;

  background-image: image-url("save-icon.svg");
  background-position: right center;
  background-size: 1.5em;
  background-repeat: no-repeat;

  cursor: pointer;
}

.field_with_errors {

  input{
      border-color: #c0392b;
  }
}

#form-errors {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  color: #e74c3c;
}
