.module-marketing-portal {
	$std-padding: .5em;
	$lg-padding: 1em;
	$gray: gray;
	$light-gray: #F1F1F1;
	$dark-blue: #1D728E;
	
	font-family: muli;
	background-color: white;
	width: 100%;
	
	.flex {
		display: flex;
		.row {
			flex-direction: row;
		}
		.col {
			flex-direction: column;
		}
		.grow {
			flex: 1 1 auto;
		}
		.static {
			flex: 0 0 auto;
		}
		.x-align.col,
		.y-align.row{
			align-items: center;
		}
		.x-align.row,
		.y-align.col {
			justify-content: center;
		}
	}
	
	.std-padding {
		padding: $std-padding;
	}
	
	.lg-margin {
		margin: $lg-padding;
	}
	
	.marketing-module {
		margin: 1em;
		padding: $std-padding;
		border: 1px solid $gray;
	
		&.small {
			width: 15em;
			height: 20em;
		}
		
		&.medium {
			width: 30em;
			height: 20em;
		}

		&.applicant-count {
			.total-applications {
				font-size: 5em;
			}
			cursor: pointer;
		}
		
		&.applicant-data {
			.title-bar {
				margin-left: (-$std-padding);
				margin-right: (-$std-padding);
				padding: $std-padding;
			}
			
			.filter-categories {
				
			}
		
			.filter-criteria {
				border: 1px solid $gray;
				width: auto;
				padding: 0px;
				color: black;
				font-size: 1em;
			}
		
			.table-wrapper {
				padding: $std-padding;
			}
		
			.applicant-info-table {
				width: 100%;
				
				.check {
					width: 1em;
					height: 1em;
				}
				
				.clickable {
					cursor: pointer;
					text-decoration: underline;
				}
				
				tr {
					border-top: 1px solid $gray;
				}
				
				tr:nth-child(even) {
					background-color: $light-gray;
				}
				
				th {
					padding: $lg-padding;
				}
				
				th:not(:last-child) {
					border-right: 1px solid $gray;
				}
				
				td {
					padding: $lg-padding;
				}
			}
		}
		
		.info-bar {
			text-transform: uppercase;
			color: $dark-blue;
		}
		
		.json-data {
			display: none;
		}
	}
}

.application-viewer {
	font-family: muli;
	background-color: white;
	padding: 1em;
	width: 100%;
	
	#application-form.invisible {
		display: none;
	}
	
	.application-data-table th {
		padding: 5px 10px;
	}
}