<div class="user-controls">
  <% unless @omit_home %>
    <%= link_to 'Home', root_path, :class => "button" %>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', :class => "button" %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path, :class => "button" %>
  <% end %>
</div>
